:host {
  --bar-background: var(
    --ts-button-bar-background,
    light-dark(rgb(0 0 0 / 80%), rgb(255 255 255 / 20%))
  );
  --bar-radius: var(--ts-button-bar-border-radius, 999px);

  --lozenge-background: var(--ts-lozenge-background, rgb(255 255 255 / 20%));
  --lozenge-duration: var(--ts-lozenge-transition-duration, 300ms);
  --lozenge-inset: var(--ts-lozenge-inset, 0 auto 0 0);
  --lozenge-radius: var(--ts-lozenge-border-radius, 999px);
  --lozenge-size: var(
    --ts-lozenge-size,
    calc(var(--button-icon-size) + calc(var(--button-padding) * 2))
  );

  --button-background: var(--ts-button-background, none);
  --button-border: var(--ts-button-border, none);
  --button-color: var(--ts-button-color, white);
  --button-icon-size: var(--ts-button-icon-size, 1.25rem);
  --button-padding: var(--ts-button-padding, 0.5em);

  display: flex;
}

#switch {
  display: flex;
  background: var(--bar-background);
  border-radius: var(--bar-radius);
  font-size: var(--button-icon-size);
  position: relative;

  &::before {
    background: var(--lozenge-background);
    border-radius: var(--lozenge-radius);
    content: ' ';
    display: block;
    height: var(--lozenge-size);
    inset: var(--lozenge-inset);
    position: absolute;
    transition: translate var(--lozenge-duration);
    width: var(--lozenge-size);
  }
}

button {
  align-items: center;
  background: var(--button-background);
  border: var(--button-border);
  color: var(--button-color);
  cursor: pointer;
  display: inline-flex;
  font-size: inherit;
  padding: var(--button-padding);
  position: relative;
  transition-duration: var(--lozenge-duration);
  transition-property: opacity, color;
}

.icon-slot::slotted(*) {
  width: 1em;
  height: 1em;
  pointer-events: none;
}

#dark {
  opacity: 0.5;
}

#light {
  opacity: 1;
}

:host([data-theme='dark']) {
  #switch::before {
    translate: 100%;
  }

  #dark {
    opacity: 1;
  }

  #light {
    opacity: 0.5;
  }
}
