:host {
  display: flex;
}

:host([data-theme='dark']) {
  #switch::before {
    translate: 1.5em;
  }

  #dark {
    opacity: 1;
  }

  #light {
    opacity: 0.5;
  }
}

#switch {
  display: flex;
  background: rgb(0 0 0 / 80%);
  border: none;
  border-radius: 999px;
  font-size: 1.25rem;
  gap: 0.5em;
  margin: 0;
  padding: 0.5em;
  position: relative;

  &::before {
    background: rgb(255 255 255 / 20%);
    border-radius: 999px;
    content: ' ';
    display: block;
    height: 1.5em;
    top: 0.25em;
    left: 0.25em;
    position: absolute;
    transition: translate 300ms;
    width: 1.5em;
  }
}

button {
  align-items: center;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  transition:
    opacity 300ms,
    color 300ms;
}

#dark {
  opacity: 0.5;
}

#light {
  opacity: 1;
}
