test-copy {
  background: light-dark(rgb(0 0 0 / 80%), rgb(0 0 0 / 20%));
  color: #f8f8f2;
  padding: 1rem;
}

test-copy.inline-copy {
  align-item: center;
  display: inline-flex;
  gap: 0.5rem;

  &::part(button) {
    /* Remove positioning */
    inset: unset;
    /* No padding */
    padding: 0;
    /* Relative positioning for the default icon animation */
    position: relative;
  }

  &::part(done-icon) {
    stroke: lightgreen;
    inset: 0;
  }
}

test-copy.styled-button {
  --ctc-button-background: white;
  --ctc-button-border: red;
  --ctc-button-color: red;
  --ctc-button-inset: 0.125rem 0.125rem auto auto;
  --ctc-button-padding: 0.125rem;
  --ctc-button-radius: 0;

  &::part(button) {
    opacity: 0;
    transition: opacity 200ms;
  }

  &:hover::part(button) {
    opacity: 1;
  }
}

#code-sample {
  --ctc-button-color: white;
}

.visible-announcement {
  &::part(button-wrapper) {
    align-items: center;
    display: flex;
    flex-flow: row-reverse;
    gap: 0.25rem;
  }

  &::part(announcement) {
    font-size: 0.875rem;
    width: unset;
    height: unset;
    position: unset;
  }
}
