.wireit
node_modules
dist

packages/*/LICENSE
packages/*/*.js
packages/*/*.js.map
packages/*/*.d.ts
packages/*/*.d.ts.map
packages/*/tsconfig.tsbuildinfo

!packages/*/index.d.ts
!packages/esbuild-plugin/*.js
!packages/create-component/*.js

packages/all/index.d.ts
packages/esbuild-plugin/index.d.ts
