html {
  color-scheme: light dark;
}

.custom-selection {
  button[aria-pressed='true'] {
    background: red;
    color: white;
  }
}

.dark,
[data-theme='dark'] {
  color-scheme: dark;
}

.light,
[data-theme='light'] {
  color-scheme: light;
}

.single-button {
  --ts-lozenge-background: transparent;

  &::part(button) {
    opacity: 1;
  }

  &::part(button dark) {
    position: absolute;
    top: 0;
    left: 0;
  }

  &[data-theme='dark'] {
    &::part(button dark) {
      visibility: hidden;
    }
  }

  &[data-theme='light'] {
    &::part(button light) {
      visibility: hidden;
    }
  }
}
