:host {
  --button-background: var(--ctc-button-background, rgb(255 255 255 / 8%));
  --button-border: var(--ctc-button-border, none);
  --button-color: var(--ctc-button-color, inherit);
  --button-icon-size: var(--ctc-button-icon-size, 1rem);
  --button-inset: var(--ctc-button-inset, 0.5rem 0.5rem auto auto);
  --button-padding: var(--ctc-button-padding, 0.5rem);
  --button-radius: var(--ctc-button-radius, 0.5rem);

  display: block;
  position: relative;
}

slot[name='button'] button {
  background: var(--button-background);
  border: var(--button-border);
  border-radius: var(--button-radius);
  box-sizing: content-box;
  color: var(--button-color);
  cursor: pointer;
  font-size: var(--button-icon-size);
  height: var(--button-icon-size);
  line-height: 1;
  padding: var(--button-padding);
  position: relative;
  width: var(--button-icon-size);
}

#button-wrapper {
  inset: var(--button-inset);
  position: absolute;
}

slot[name='done-icon'] > svg,
slot[name='done-icon']::slotted(*) {
  inset: var(--button-padding);
  position: absolute;
  transform: scale(0);
}

#announcement {
  height: 0;
  overflow: clip;
  position: absolute;
  width: 0;
}
