:host {
  --button-background: var(--btt-button-background, rgb(0 0 0 / 60%));
  --button-background-hover: var(
    --btt-button-background-hover,
    rgb(0 0 0 / 80%)
  );
  --button-border: var(--btt-button-border, none);
  --button-color: var(--btt-button-color, white);
  --button-inset: var(--btt-button-inset, auto 2rem 2rem auto);
  --button-padding: var(--btt-button-padding, 0.5rem);
  --button-radius: var(--btt-button-radius, 999px);
  --button-size: var(--btt-button-size, 1.5rem);

  inset: var(--button-inset);
  opacity: 0;
  position: fixed;
  transform: scale(0);
  transition:
    transform 200ms,
    opacity 200ms;
  visibility: hidden;
}

:host([data-state='active']) {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

button {
  background: var(--button-background);
  border: var(--button-border);
  border-radius: var(--button-radius);
  box-sizing: content-box;
  color: var(--button-color);
  cursor: pointer;
  font-size: var(--button-size);
  height: var(--button-size);
  line-height: 1;
  padding: var(--button-padding);
  transition: background 200ms;
  width: var(--button-size);

  svg {
    position: relative;
    top: -1px;
  }
}

@media (hover: hover) {
  button:hover {
    background: var(--button-background-hover);
  }
}
