name: Pull Request
on:
  pull_request:
    branches:
      - main
permissions:
  contents: read
concurrency: ${{ github.workflow }}-${{ github.ref }}
jobs:
  release:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'
      - uses: google/wireit@setup-github-actions-caching/v2
      - run: pnpm install
      - run: pnpm run build
      - run: pnpm run lint
